.cura-container {
  width: 90%;
  max-width: 1000px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 30px;
  margin-left: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.cura-container h1 {
  font-size: 26px;
  color: #d86c91;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center; /* Centramos el h1 */
}

.cura-container h3 {
  font-size: 22px;
  margin-top: 25px;
  color: #555;
  text-align: center; /* Centramos el h3 */
}

.cura-container h4 {
  font-size: 20px;
  margin-top: 20px;
  font-style: italic;
  color: #666;
  text-align: center;
}

.cura-container p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: left;
}

.cura-container li {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.cura-container a {
  color: #d86c91;
  text-decoration: none;
  font-weight: bold;
}

.cura-container a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .cura-container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
  }

  .cura-container h1 {
    font-size: 22px;
  }

  .cura-container h3 {
    font-size: 20px;
  }

  .cura-container p,
  .cura-container li,
  .fcura-container a {
    font-size: 18px;
  }
}
